@{ ViewData["Title"] = "BMI Calculator"; }

<h1 class="text-center jumbotron">BMI Calculator</h1>

<div class="container align-self-center">
    <form>
        <input type="text" placeholder="Height" />
        <br />
        <input type="text" placeholder="Weight" />
        <br />
        <input type="submit" class="btn btn-info" />
    </form>
</div>