@page
@model WebApps.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center jumbotron">
    <h1 class="display-4">BNU CO453 Applications Programming</h1>
    <h2 class="text-secondary">by Tomás Pinto | 2021/2022</h2>
</div>

<div class="container align-self-center">
    <div class="col-md-6" style="float: none; margin: 0 auto;">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge badge-secondary">App 01</span> Distance Converter <a href="/Converter" type="button" class="btn btn-info btn-sm float-right">
                    Open Application&nbsp;<i class="bi bi-box-arrow-up-right"></i>
                </a>
            </li>
            <li class="list-group-item">
                <span class="badge badge-secondary">App 02</span> BMI Calculator <a href="/Calculator" type="button" class="btn btn-info btn-sm float-right">
                    Open Application&nbsp;<i class="bi bi-box-arrow-up-right"></i>
                </a>
            </li>
            <li class="list-group-item">
                <span class="badge badge-secondary">App 03</span> Student Marking <a href="/Marking" type="button" class="btn btn-info btn-sm float-right">
                    Open Application&nbsp;<i class="bi bi-box-arrow-up-right"></i>
                </a>
            </li>
            <li class="list-group-item">
                <span class="badge badge-secondary">App 04</span> Social Network <a href="/Network" type="button" class="btn btn-info btn-sm float-right">
                    Open Application&nbsp;<i class="bi bi-box-arrow-up-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>